@media(max-width:1300px){
    body{
        overflow-x: hidden;
        font-family: 'Oswald', sans-serif;
        background-image: url("../img/fundo3.jpg");
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
    }
 
    .main-abertura{
       margin-left: 3px;
       margin-right: 3px;
        
    }
    .main-abertura h1{
        transition: 0.8s;
        animation: piscar 12s forwards;
    }
   
    .main-abertura img{
        transition: 1s;
        animation: aumento 5s infinite;
    }
   
    .main-abertura p{
        background-color: #fff;
        padding: 30px;
        color: rgb(87, 43, 128);
        font-family: 'kanit',sans-serif;
    }
    .main-abertura p:hover{
        box-shadow: 1px 1px 1px 1px black;
        cursor: pointer;
        font-size: 18px;
        transition: 1s;
        border-radius: 5px;
        animation: mouse forwards 6s;
    }
    .main-abertura h3{
        font-weight: 400;
        font-size: 19px;
        padding-bottom: 20px;
    
    }
 
    
}







@media(max-width:999px){
    .main-abertura{

        border-radius: 8px;
        border: 3px solid #fff;
    }
}








@media(max-width:761px){
    .main-abertura{
        
        border-radius: 8px;
    
        border: 3px solid #fff;
    }
    .main-abertura h1{
        font-size: 27px;
        transition: 0.8s;
        animation: piscar 12s forwards;
    }
   
    .main-abertura img{
        width: 610px;
        transition: 1s;
        animation: aumento 5s infinite;
    }
   
    .main-abertura p{
        background-color: #fff;
        padding: 30px;
        color: rgb(87, 43, 128);
        font-family: 'kanit',sans-serif;
    }
    .main-abertura p:hover{
        box-shadow: 1px 1px 1px 1px black;
        cursor: pointer;
        font-size: 18px;
        transition: 1s;
        border-radius: 5px;
        animation: mouse forwards 6s;
    }
    .main-abertura h3{
        font-weight: 400;
        font-size: 19px;
        padding-bottom: 20px;
    
    }
 
}



@media(max-width:688px){

    .main-abertura{
        text-align: center;
        padding-top: 20px;
        border: 3px solid #fff;
       
    }
    .main-abertura h1{
        font-size: 27px;
        transition: 0.8s;
        animation: piscar 12s forwards;
    }
   
    .main-abertura img{
        width: 600px;
        transition: 1s;
        animation: aumento 5s infinite;
    }
   
    .main-abertura p{
        background-color: #fff;
        padding: 30px;
        color: rgb(87, 43, 128);
        font-family: 'kanit',sans-serif;
    }
    .main-abertura p:hover{
        box-shadow: 1px 1px 1px 1px black;
        cursor: pointer;
        font-size: 18px;
        transition: 1s;
        border-radius: 5px;
        animation: mouse forwards 6s;
    }
    .main-abertura h3{
        font-weight: 400;
        font-size: 19px;
        padding-bottom: 20px;
    
    }
 
}









@media(max-width:539px){
    .abert{
        padding-top: 10px;
          padding-bottom: 40px;
      }
    
    .main-abertura{
        text-align: center;
        padding-top: 20px;
        border-radius: 8px;
        margin-bottom: 65px;
        border: 3px solid #fff;
       
    }
    .main-abertura h1{
        font-size: 24px;
        transition: 0.8s;
        animation: piscar 12s forwards;
    }
   
    .main-abertura img{
        width: 500px;
        transition: 1s;
        animation: aumento 5s infinite;
    }
   
    .main-abertura p{
        background-color: #fff;
        padding: 30px;
        color: rgb(87, 43, 128);
        font-family: 'kanit',sans-serif;
    }
    .main-abertura p:hover{
        box-shadow: 1px 1px 1px 1px black;
        cursor: pointer;
        font-size: 16px;
        transition: 1s;
        border-radius: 5px;
        animation: mouse forwards 6s;
    }
    .main-abertura h3{
        font-weight: 400;
        font-size: 15px;
        padding-bottom: 20px;
    
    }
 
}



@media(max-width:493px){
   
    .main-abertura{
        
        border-radius: 8px;
        margin: 1px;
        border: 3px solid #fff;
        padding-bottom:196px;
       
    }
    .main-abertura h1{
        margin-top: 70px;
        font-size: 22px;
        transition: 0.8s;
        animation: piscar 12s forwards;
    }
   
    .main-abertura img{
        width: 280px;
        transition: 1s;
        animation: aumento 5s infinite;
    }
   
    .main-abertura p{
        background-color: #fff;
        padding: 20px;
        color: rgb(87, 43, 128);
        font-size: 14px;
    }
    .main-abertura p:hover{
        box-shadow: 1px 1px 1px 1px black;
        cursor: pointer;
        font-size: 16px;
        transition: 1s;
        border-radius: 5px;
        animation: mouse forwards 6s;
    }
    .main-abertura h3{
        font-weight: 400;
        font-size: 15px;
        padding-bottom: 150px;
    
    }
 
}


@media(max-width:415px){

    
    .main-abertura{
        border-radius: 8px;
        margin: 1px;
        
        
        border: 3px solid #fff;
       
    }
    .main-abertura h1{
        margin-top: 40px;
        font-size: 18px;
        transition: 0.8s;
        animation: piscar 12s forwards;
    }
   
    .main-abertura img{
        width: 320px;
        transition: 1s;
        animation: aumento 5s infinite;
    }
   
    .main-abertura p{
     
        font-size: 14px;
        margin-bottom: 0px;
    }
    .main-abertura p:hover{
        box-shadow: 1px 1px 1px 1px black;
        cursor: pointer;
        transition: 1s;
        border-radius: 5px;
        animation: mouse forwards 6s;
    }
    .main-abertura h3{
        font-weight: 400;
        font-size: 15px;
        padding-bottom: 80px;
    
    }
 
}









@media(max-width:316px){
   

    .main-abertura{
     
        border-radius: 0px;
        margin: 1px;
        border: 3px solid #fff;
       
    }
    .main-abertura h1{
        margin-top: 200px;
        font-size: 16px;
        transition: 0.8s;
        animation: piscar 12s forwards;
    }
   
    .main-abertura img{
        width: 200px;
        transition: 1s;
        animation: aumento 5s infinite;
    }
   
    .main-abertura p{
 
        padding: 20px;
        margin-bottom: 145px;
    
        font-size: 14px;
    }
    .main-abertura p:hover{
        box-shadow: 1px 1px 1px 1px black;
        cursor: pointer;
        transition: 1s;
        
        border-radius: 5px;
        animation: mouse forwards 6s;
    }
    .main-abertura h3{
        font-weight: 400;
        font-size: 13px;
        padding-bottom: 90px;
    
    }
 
}





